<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Restaurant</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="add_dish_click()">Add Dish</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="book_table_click()">Book Table</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="contact_click()">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="admin_click()">ADMIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
